In [16]:
import pandas as pd
import numpy as np

In [4]:
columns = ['type', 'value']
data = [['A', 10], ['A', 14], ['B', 12], ['B', 23]]
my_data = pd.DataFrame(data = data, columns = columns)
my_data.head()

  type  value
0    A     10
1    A     14
2    B     12
3    B     23

In [25]:
my_stat = pd.read_csv('my_stat.csv')

In [6]:
subset_1 = my_stat.iloc[0:10,[0,2]]
subset_2 = my_stat.iloc[:,[1,3]].drop(my_stat.index[[0,4]])

In [13]:
subset_1 = my_stat.query('V1 > 0 & V3 == "A"')
subset_2 = my_stat.query('V2 != 10 | V4 >= 1')

In [17]:
my_stat['V5'] = my_stat['V1'] + my_stat['V4']
my_stat['V6'] = np.log(my_stat['V2'])

In [49]:
my_stat

     session_value  group time  n_users
0                2   13.0    B      1.0
1               -1    7.0    B      1.0
2                0   11.0    A      0.0
3                2   11.0    A      2.0
4                0   10.0    B      1.0
..             ...    ...  ...      ...
495              1    8.0    A      1.0
496              3    8.0    A      1.0
497             -1   11.0    B      2.0
498              1   11.0    A      2.0
499              0    8.0    B      1.0

[500 rows x 4 columns]

In [32]:
my_stat.rename(columns={"V1":"session_value", 'V2': 'group', 'V3': 'time', 'V4': 'n_users'}, inplace=True)

In [34]:
my_stat= my_stat.fillna(0)
my_stat_2 = my_stat.query('n_users >= 0')
med = my_stat_2['n_users'].median()
my_stat.loc[my_stat['n_users'] < 0, 'n_users'] = med

In [56]:
mean_session_value_data = pd.DataFrame(my_stat.groupby('group', as_index=False).agg({'session_value': 'mean'}).rename(columns={'session_value':'mean_session_value'}))
mean_session_value_data

   group  mean_session_value
0    5.0            0.000000
1    7.0            0.333333
2    8.0            0.633333
3    9.0            0.238938
4   10.0            0.065990
5   11.0           -0.081081
6   12.0           -0.078947
7   13.0            0.000000